{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}


{% block base_title %}{% trans course.get_course_language %}- {% trans teacher.username %}{% endblock %}

{% block content %}
<section style="font-family: 'PlayPenSans';">

   
   <section class="container" >
    <img src="{{course.thumbnail_pc.url}}" style="border-radius: 10px;" alt="{{ course.course_name_en }}" class="img-fluid">
   </section>


<section class="container  d-flex flex-row justify-content-around  align-items-center py-3 reveal-from-left">
    
  
        <h1>
            {{ course.get_course_language }}
        </h1>


        <div class="sssss"  >
            <svg width="200" height="200" viewBox="0 0 36 36" class="circular-chart purple">
                <path class="circle-bg"
                d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                {% comment %} progress {% endcomment %}
                <path class="circle"
                stroke-dasharray="70, 100"  
                d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                />
                <text x="18" y="20.35" class="percentage" text-anchor="middle" alignment-baseline="middle">
                    {% comment %}  {% endcomment %}
                    {% trans 'شاهدت' %}
                    
                    
                    70%
                </text>
            </svg>
        </div>
        
        <style>
            .sssss svg{
                height: 300px;
            }
            
            @media (max-width:500px ){
                .sssss svg {
                    height: 100px;
                }
            }
            .circular-chart {
                display: block;
                max-width: 100%;
            }
            
            .circle-bg {
                fill: none;
                stroke: #eee;
                stroke-width: 3.8;
            }
            
            .circle {
                fill: none;
                stroke-width: 2.8;
                stroke: #8a2be2;
                stroke-linecap: round;
                animation: progress 1s ease-out forwards;
            }
            
            .percentage {
                font-size: 3px;
                fill: rgb(0, 0, 0);
            }
            
            @keyframes progress {
                0% {
                    stroke-dasharray: 0, 100;
                }
            }
            </style>
    
    </div>
</section>



<div style="position: relative;" class=" p-5">
    
    
    <section class="container-fluid below___ reveal-from-right">
        
        
        <div class="row ">
            <div class="py-5 fs-md-2 text-center text-wrap">
                {% trans course.get_course_description_language %}
            </div>
        </div>
        
    </section>
</div>







<div style="position: relative;" class="p-1">
    
    
    <section class="container-fluid  reveal-from-left">
        
        <img src="{{ teacher.second_section.url }}" alt="{{ teacher.username }}" class="img-fluid">
        
    </section>
</div>





<div style="position: relative;" class="py-5">
    
    
    <section class="container-fluid  reveal-from-right">
        
        <img src="{{ teacher.third_section.url }}" alt="{{ teacher.username }}" class="img-fluid">
        
    </section>
</div>



<div style="position: relative;" class="py-2">
    
    
    <section class="container-fluid  reveal-from-left">
        
        <img src="{{ teacher.fourth_section.url }}" alt="{{ teacher.username }}" class="img-fluid">
        
    </section>
</div>




<!-- courses section -->

<style>
    .courses_section{

    }

    .courses_section .card{
        transition: transform .5s;
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(87, 87, 87, 0.216);
        /* backdrop-filter: blur(10px); */
    }
    .courses_section .card img{
        filter: blur(1px);
        transition: .4s;
    }
      .courses_section .card .card-title{
        opacity: 1;
        transition: .4s;
      }
    .courses_section .card:hover{
        transform: scale(1.1);
    }
        .courses_section .card:hover img{
            filter: blur(0px);
        }
          .courses_section .card:hover .card-title{
             opacity: 0;
          }
</style>
<div class="container courses_section py-5">
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4 mb-3 text-center">
                <a  href='' class="card" >
                    <img src="{{ course.thumbnail_pc.url }}" alt="{{ course.course_name_ar }}" class="card-img">    
                    <div class="card-img-overlay">
                        <h5 class="card-title text-black fs-3">{{ course.get_course_language }}</h5>
                        <!-- <p class="card-text">{{ course.get_course_description_language|truncatechars:50 }}</p> -->
                    </div>
                </a>
            </div>

            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>



<!-- Social Background -->
 <style>
    .social__section{
        background: url('{{ teacher.social_background.url }}') no-repeat center center;
                    background-position: center center;
            /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.226); */

            background-size: contain;

    }
    .social_media img{
        width: 100px;
        height: 100px;
        transition:.4s;
        border-radius: 100vmax;
        box-shadow: 0 0 10px rgba(62, 62, 62, 0.85);
    }
    .social_media a{
        text-decoration: none;
    }


        .social_media img:hover{
            transform: scale(1.09);
        }

    @media (max-width:1257px ){
        
    .social_media img{
        width: 80px;
        height: 100%    }

    
    }


@media (max-width: 1038px) {
        .social_media img{
        width: 40px;
        height: 40px;    }

        .social_media_-section h1{
            font-size: 20px;
        }
}

@media (max-width:523px){

        .social__section{
            background: none;
            border: 3px  dashed  black;
            margin: 40px;
            box-shadow: 0 0 10px black;

        }
}

 </style>
<div style="" class=" container-fluid p-5 social__section">
    
    
    <section class="container-fluid social_media_-section  reveal-from-left">
        <div class="row">

            <div class="social_media col-6  ">
                {% if teacher.instgram_link and teacher.instgram_icon %}
                    <a href="{{ teacher.instgram_link }}" target="_blank">
                        <img src="{{ teacher.instgram_icon.url }}" alt="{{ teacher.username }}" class="img-fluid">
                    </a>
                {% endif %}
                
                {% if teacher.facebook_link  and teacher.facebook_icon %}
                    <a href="{{ teacher.facebook_link }}" target="_blank">
                        <img src="{{ teacher.facebook_icon.url }}" alt="{{ teacher.username }}" class="img-fluid">
                    </a>
                {% endif %}
                
                {% if teacher.youtube_link and teacher.youtube_icon %}
                    <a href="{{ teacher.youtube_link }}" target="_blank">
                        <img src="{{ teacher.youtube_icon.url }}" alt="{{ teacher.username }}" class="img-fluid">
                    </a>
                {% endif %}
            </div>
            <h1 class="col-6  text-end ">
                {% trans 'تواصل مع مع مستر' %}
                <br>
                {% trans teacher.username %}
            </h1>
        </div>
    </section>
</div>


</section>
    

{% endblock %}