
{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block base_title %}Welcome {% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
{% endblock %}

{% block content %}
<style>
/* === Hero Styles === */
.hero {
  color: black;
  padding-top: 40px;
  min-height: 100%;
  display: flex;
  align-items: center; 

  {% if LANGUAGE_CODE == 'ar' %}
  text-align: right;
  font-family: 'Aref_Ruqaa_regular';
  {% endif %}
}

.hero img {
  max-height: 500px;
  width: auto;
}

/* Highlight text */
.highlight {
  position: relative;
  font-weight: bold;
  color: #b59a5b;
}

/* Underline effect */
.underline {
  position: relative;
  display: inline-block;
}
.underline::after {
  content: "";
  position: absolute;
  width: 357px;
  height: 21px;
  bottom: -15px;
  left: 30%;
  transform: translateX(-50%);
  background: url('{% static "mat/Vector.svg" %}') no-repeat center;
  filter: opacity(0.5);
  background-size: contain;
}

.star_hero::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 114px;
  left: 100px;
  top: 169px;
  
  transform: translateX(-100%) translateY(-100%);
  background: url('{% static "mat/h3.svg" %}') no-repeat center;
  background-size: contain;
  z-index: -3;
  opacity: .2;
}

.hero h2 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.3;
}
.second_hero {
  font-size: 48px;
  font-weight: bold;
  /* line-height: 6rem !important; */
}

.third_hero {
  font-size: 40px;
}

/* Lanterns */
.drops {
  position: relative;
}
.lantern {
  position: absolute;
  /* height: 300px; 
  width: 100%; */
  /* top: -20px; */
  z-index: 2;
  left:47%;
  
}
.lantern-1 {

  transform: translateX(-80px);
  height: 400px;
  width: 68px;
  animation: dropDown1 1s ease-out forwards;
}


.lantern-2 {
  height: 295px;
  width: 91px;
  animation: dropDown2 2s ease-out forwards;
  /* transform: translateX(20px); */
}

.btns__hero {

  {% if LANGUAGE_CODE == 'ar' %}
    font-family: 'PlayPenSans' ;

  {% endif %}


}

@media (max-width: 1333px) {

  .star_hero::after{
    opacity: .1;
  }
}
@media (max-width:1766px) {

  .lantern {
  position: absolute;

  z-index: 2;
  left:6.7%;
  /* top: -50%; */

  
}

  .lantern-1 {

  transform: translateX(-80px);
  height: 400px;
  width: 68px;
  animation: dropDown1 1s ease-out forwards;
  
}


.lantern-2 {
  height: 295px;
  width: 91px;
  animation: dropDown2 2s ease-out forwards;
  /* transform: translateX(20px); */
}

}


@media (max-width: 1225px) {
  .lantern-1 {

  transform: translateX(-80px) ;
  height: 400px;
  width: 68px;
  animation: dropDown1l 1s ease-out forwards;
  /* animation: none; */
  scale: 0.5;
  
}


.lantern-2 {
  height: 295px;
  width: 91px;
    scale: 0.5;

  animation: dropDown2l 2s ease-out forwards;
  /* transform: translateX(20px); */
}

}

@keyframes dropDown1 {
  0% { transform: translateX(-80px) translateY(-150px); opacity: 0; }
  100% { transform: translateX(-80px) translateY(0); opacity: 1; }
}
@keyframes dropDown2 {
  0%{
    opacity: 0;
  }

  50% { transform:  translateY(-150px); opacity: 0; }
  100% { transform:  translateY(0); opacity: 1; }
}

/*  */
/*  */
/*  */
@keyframes dropDown1l {
  0% { transform: translateX(-80px) translateY(-450px); opacity: 0; }
  100% { transform: translateX(-80px) translateY(-50%); opacity: 1; }
}


@keyframes dropDown2l {
  0%{
    opacity: 0;
  }

  50% { transform:  translateY(-350px); opacity: 0; }
  100% { transform:  translateY(-50%); opacity: 1; }
}

@media (max-width:1026px) {
  .btns__hero{
      display:inline-flex;
  
  flex-direction: column;
  gap: 10px;
  }
}

/* Responsive adjustments */

</style>

<div class="drops position-relative">
  <img src="{% static 'mat/Asset 273.svg' %}" alt="" class="lantern lantern-1">
  <img src="{% static 'mat/Layer 2 (1).svg' %}" alt="" class="lantern lantern-2">
</div>

<!-- Hero -->
<div class="text-break hero px-5">
  <div class="row align-items-center justify-content-center">
    <!-- Image -->
    <div class="col-lg-6 text-center">
      <img src="{% static 'mat/Group 2.svg' %}" alt="طلاب أزهريون" class="img-fluid reveal-from-left " style="max-height: 814px; max-width: 100%;top: 0;">
    </div>

    <!-- Text -->
    <div class="col-lg-6" style="position: relative;">
      <h2 class="star_hero fs-1">

        {% trans 'طالب أزهري' %}

        
        <br>
                {% trans 'طريقك' %}

        <span class="highlight ">

          {% trans 'للتفوق الأزهري' %}
        </span>
      </h2>

      <p class="mt-3 second_hero fs-1">
        <span class="underline">
          {% trans 'أول منصة تعليمية تجمع نخبة' %}
          {% trans 'من مدرسين التعليم الأزهري' %}
        </span>
        <br>
        {% trans 'مدعومة' %}

        <span class="highlight">

          {% trans 'بالذكاء الاصطناعي' %}


          
        </span>
      </p>

      <p class="third_hero fs-4">
        {% trans 'منصة تعليمية متكاملة تضم نخبة من أفضل المدرسين المتخصصين في مناهج التعليم الأزهري العلمي والأدبي.' %}
        {% trans 'وبيدعم الذكاء الاصطناعي لمساعدتك على الفهم والمتابعة. شروحات مبسطة، ملخصات دقيقة، واختبارات تفاعلية...' %}
        {% trans 'وكل ده من منهجك المعتمد! وتقدر تبدأ مجانًا!' %}
        
      </p>

      <div class="mt-3 btns__hero "  >
        <a class="btn btn-primary wide__btn reveal-from-right" style="gap: 0.5rem;">
          <span>


            {% trans 'شاهد المدرسين' %}
          </span>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
</svg>
</a>
        <a class="btn btn-secondary  wide__btn reveal-from-right" style="transition: 3s;" href="{% url 'website:signup' %}"  >

          {% trans 'ابدأ الآن مجاناً' %}

          
            
            </a>
      </div>
    </div>
  </div>
</div>

<!-- END HERO -->


<!-- DEVIDER -->
  <div class="container-fluid reveal-from-left" style="margin-top: 80px; margin-bottom: 90px;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="{% static 'mat/OBJECTS.svg' %}" alt="طلاب أزهريون" class="img-fluid" style="max-height: 124px; max-width: 711;">
      </div>
    </div>
  </div>
<!-- END DEVIDER -->


<!-- SECOND SECTION -->
<style>
  .second__section{
    position: relative;
    font-family: 'PlayPenSans';
    margin-bottom: 88px;

  }

  .second__section .arrow{
    position: absolute;
  }
  .second__section .rarrow{
    right: 0;
    top: 0;
    width: 117px;
    height: 23px;
    transform: translateX(-100%);
  }
  .second__section .larrow{
    left: 0;
    bottom: 0;
    transform: translateX(100%);
  }
  .second__section .square{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 365px;
    transform:translateY(50%);
    z-index: -31;

  }
    .second__section .single{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 117px;
    transform: translateX(100%) translateY(50%);

  }

  .second__section h2{
    width: 511px;
    font-size: 64px;
    white-space: nowrap;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second__section span{
    max-width: 1032px;
    text-align: center;
    font-size: 36px;
    

    }

  
</style>

<section class="second__section py-5">

  <!-- abs -->
      <img src="{% static 'mat/square.svg' %}" alt="" class="arrow square opacity-sm-25">
  <!--  -->

  <div class="container pb-3">
    <!-- Arrows -->
    <img src="{% static 'mat/arrows left.svg' %}" alt="" class="larrow arrow reveal-from-right">
    <img src="{% static 'mat/arrow right.svg' %}" alt="" class="rarrow arrow reveal-from-right">
    
    <!-- END ARROWS -->
  <div class=" d-flex flex-row-reverse row align-items-center justify-content-center" style="gap:80px;position:relative;">
    
    <h2 style="position: relative; " class="col-12 col-md-6 text-center  fs-1  reveal-from-right">
      {% trans 'ليه "طالب أزهري"؟' %}

      <img src="{% static 'mat/arrow.svg' %}" alt="" class="arrow single">

    </h2>

    <span  class="col-12 col-md-6 fs-5 text-center">
      {% trans 'طالب أزهري" هي أول منصة تعليمية متخصصة تجمع نخبة من مدرسين التعليم الأزهري تحت سقف واحد. سواء كنت في القسم العلمي أو الأدبي، هتلاقي مدرسين محترفين، شرح مبسط، اختبارات بعد كل درس، وكمان دروس مجانية علشان تجرب قبل ما تشترك.' %}
    </span>
  </div>
    

  </div>
</section>


<!-- END SECOND SECTION -->

<!-- START THIRD SECTION -->
<style>
  .third__section{

    font-family: 'PlayPenSans';
    font-weight: 800 ;

    
  }
  .third__section h3{
    font-size: 48px;
  }

  .third__section p {

  }
  @media (min-width: 1527px) {
    .third__section p {

      padding-right: 395px;padding-left:280px   ;
    }
  }
</style>
<section class="container-fluid third__section">

  <section class=" py-5 ">
    <h3 class="text-center reveal-from-left"  style="transition: 4s;">
      {% trans 'نخبة من أفضل المدرسين في التعليم الأزهري' %}
    </h3>
    
  </section>
  
  
  <section>
    

    <p class="text-center fs-4" >
      {% trans 'المنصة بتضم' %}

      <span class="highlight fs-2">
        +
        {{ teachers|length }}
      </span>
      
    {% trans 'مدرسين متخصصين في مواد الأزهر الشريف، كل مدرس له صفحة مخصصة بتوضح الصفوف اللي بيدرسها، جدول الدروس، الثيم الخاص بيه، ونبذة عن أسلوبه في الشرح' %}
     
    </p>
  </section>
  
</section>

<!-- END THIRD SECTION -->




<!-- SWIPER SECTION -->
{% if courses %}
<style>



    swiper-container {
      width: 100%;
      height: 500px;

    }

    swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;  
      width: 500px;
      height: 100%;
    }

    swiper-slide img {

      width: 100%;
      height: 100%;

      object-fit: cover ;
      border-radius: 4px;
      transition: .5s;

    }
    swiper-slide img:hover{
      transform: scale(.9);
    }


    .fourth__section .abs img{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 405px;
      height: 426px;

      /* transform: translateX(50%); */
    }

@media (max-width: 500px){
      swiper-container {
      width: 100%;
      /* height: 100%; */

    }
    swiper-slide {

      width: 100%;
      height: 100%;
    }

}
  </style>
<section class="fourth__section py-5 position-relative">

      <div class=" abs" >
        <img src="{% static 'mat/lines_swiper.svg' %}" alt="" >
        
      </div>
      
      <swiper-container 
      class="mySwiper"
      dir="rtl"
      pagination="true"
      pagination-clickable="true"
      slides-per-view="auto"

        autoplay-delay="5000"

      space-between="30"
      style="padding-bottom: 88px;"
      >

      {% for course in courses %}
            <swiper-slide>
              <a href="{% url 'website:teacher' course.slug  %}">
                <picture>
                  <source srcset="{{course.thumbnail_pc.url}}" media="(min-width: 500px)">
     
                  <img src="{{course.thumbnail_mobile.url}}" alt="{{course.course_name_en}}" />
                </picture>
                
              </a>
              </swiper-slide>


      {% endfor%}

    </swiper-container>
</section>

{% endif %}
<!-- END SWIPER SECTION -->

<!-- FIFTH SECTION -->

<style>
  .fifth__section{
    font-family: 'PlayPenSans';
    font-weight: 800 ;
    /* margin: ; */
    background: url('{% static "mat/Rectangle 7.svg" %}')  no-repeat   center center;
    background-size: cover;
    color: #fff;
  
  }

  .fifth__section .row > div:nth-child(-n+3) {
  
  border-right: 2px solid  #fff;


}
 @media (max-width: 767px) {

  .fifth__section .row > div:nth-child(-n+3) {
      border-bottom: 2px solid  #fff;
        border-right: none;
        padding-top: 20px;
        padding-bottom: 20px;
  } 
 }
</style>


<section 
style="transition: 4s;"
class=" fifth__section py-5 container-xxl	reveal-from-left px-3 "  > 


  <div class="row">

<!--  -->
    <div class="col-12 text-center col-md-3">
      
        <p class="fs-5"> 
          {% trans 'اختبارات تفاعلية' %}

          
        </p>
        <h3 class="text-center fs-4">
            {% trans 'بعد كل درس لضمان فهمك الكامل' %}
        </h3>

    </div>

    <!--  -->
    <div class="col-12 text-center col-md-3">
       <p class="fs-5">
        {% trans 'عدد الدروس المتاحة' %}
       </p>
        <h3 class="text-center fs-4">

          {% trans 'درس مصور' %}

          
          +  
          {{ epS|length }}


        </h3>
    </div>

    <!--  -->
    <div class="col-12 text-center col-md-3">
       <p class="fs-5">
        {% trans 'عدد الطلبة المشتركين' %}

        
       </p>
        <h3 class="text-center fs-4">
          {% trans 'طالب أزهري' %}
          + {{ students }}



        </h3>
    </div>

    <div class="col-12 text-center col-md-3"  >
       <p class="fs-5">   
                 {% trans 'عدد المدرسين' %}

                </p>
        <h3 class="text-center fs-4">

          +
          {{ teachers|length }}




        </h3>
    </div>

  


  </div>


</section>


<!-- END FIFTH SECTION -->


<!-- START SIXTH SECTION -->

<style>
 .sixth__section{
    font-family: 'PlayPenSans';
 }

 .sixth__section .row h1{
  line-height: 4rem;
 }

 .sixth__section .row p{
  line-height: 4rem;
 } 
</style>



<section class="sixth__section py-5 container-fluid	 px-3  my-5"  >

  <div class="row">
    <div class="col-xl-6 col-12 text-end d-flex flex-column gap-3 ">
      <h1 class="mb-5 reveal-from-left ">
        
        {% trans 'أول منصة أزهرية تدعم الذكاء الاصطناعي' %}

        <br>
        {% trans 'علشان تفهم أكتر' %}
        
      </h1>

      <p class="fs-md-1 fs-md-4 px-4"> 
        {% trans 'مش فاهم جزء في الدرس؟ ولا يهمك' %}

        
        {% trans 'من خلال تقنية الذكاء الاصطناعي داخل المنصة، تقدر تسأل عن أي نقطة مش واضحة بعد ما تخلص المحاضرة، وهيتم شرحها لك بأسلوب مبسط ومباشر... ومن كتاب الوزارة نفسه، مش من الإنترنت' %}
         
      </p>
      </div>
      <div class="col-6 text-center reveal-from-right" style="transition: 2s;">
        <img src="{% static 'mat/bot.svg' %}" alt="طلاب أزهريون" class="img-fluid" style="width: 100% ; max-height: 604px;">
      </div>


  </div> 


</section>
<!-- END SIXTH SECTION -->


<!-- START SEVENTH SECTION -->


<style>

</style>


<section class="container seventh__section py-5 position-relative my-5">

  <div class="row">

    <img src="{% static 'mat/Group 24.svg' %}" class="reveal-from-right " style="transition: 2s;">
  </div>

</section>

<!-- END SEVENTH SECTION -->


<!-- START EIGHTH SECTION -->

<style>
  .eighth__section{
    font-family: 'PlayPenSans';
    

  }
  .eighth__section p{
    line-height: 4rem;
  }

  @media (max-width: 767px) {
  .opacity-sm-25 {
    opacity: 0.25 !important;
  }
}

</style>

<section class="container eighth__section py-5 position-relative my-5">
  <img src="{% static 'mat/arrow_down.svg' %}" alt="" class="  img-fluid position-absolute opacity-sm-25"  style="right: 0; bottom: 0;z-index: -2; transform: translateY(50%);">
  <div class="row text-center d-flex flex-column gap-md-5">
    <h1 class="reveal-from-left ">
      {% trans 'كورسات لكل صف ومستوى' %}

    </h1>
    <p class=" fs-sm-6   fs-md-3">
      {% trans 'كل كورس مصمم بمنهجية منظمة، يبدأ من التأسيس ويوصل للتمكن الكامل' %}
      <br>
      {% trans 'تقدر تختار الصف الدراسي، القسم (علمي / أدبي)، وتشوف الكورسات المتاحة' %}
    </p>
  </div>

</section>


<!-- END EIGHTH SECTION -->



<!-- START NINTH SECTION -->


<section>
  <img src="{% static 'mat/Group 10.svg' %}" alt="" class="img-fluid reveal-from-left my-5" style="width: 95%; ">
</section>
<!-- end ninth section -->



<!-- START TENTH SECTION -->

<style>

</style>



<section>



<img src="{% static 'mat/Frame 28.svg' %}" alt="" class="img-fluid mt-5" style=" ">

</section>


<!-- END TENTH SECTION -->


<!-- ELEVENTH SECTION -->

<style>
.eleventh_section{
  font-family: 'PlayPenSans';
  font-weight: 800 ;
}

.eleventh_section .drops .lantern__sec{
  position: absolute;
  top: 0;
  right: 30%;
  scale: .5;
  transform: translateY(-50%);

}

.eleventh_section .drops  .lantern__sec.sec__lantern{


    transform: translateX(100px) translateY(-50%);
}
.eleventh_section .drops  .lantern__sec.third__lantern{
    transform: translateX(calc(-100px + -50%)) translateY(-50%) ;

}
@media (max-width: 767px) {
  .eleventh_section .drops .lantern__sec{
  position: absolute;
  top: 0;
  right: 5%;
  scale: .5;
  transform: translateY(-50%);

}

.eleventh_section .drops  .lantern__sec.sec__lantern{


    transform: translateX(100px) translateY(-50%);
}
.eleventh_section .drops  .lantern__sec.third__lantern{
    transform: translateX(calc(-100px + -50%)) translateY(-50%) ;

}
}
</style>


<section class="container-fluid eleventh_section pb-5 position-relative mb-5 postion-relative"> 


    <div class="drops ">


      <img src="{% static 'mat/Layer 2.svg' %}" alt="" class="lantern__sec first__lantern">
      <img src="{% static 'mat/Layer 5.svg' %}" alt="" class="lantern__sec sec__lantern">
      <img src="{% static 'mat/Layer 5.svg' %}" alt="" class="lantern__sec  third__lantern">
    </div>

    <div class="row d-flex flex-row-reverse px-5 ">
      <div class="col-12 pt-5 ps-5 col-md-6 text-end d-flex flex-column align-items-center justify-content-center">
        <h1 class="fs-1 py-5 ps-5 reveal-from-right" style="transition: 4s;"> 
          {% trans 'لو عندك أي سؤال... إحنا معاك' %}
        </h1>
        <p class="">
          {% trans 'خدمة دعم فني متاحة يوميًا  *' %}
          <br>
          {% trans 'تقدر تتواصل معنا عبر الواتساب أو البريد الإلكتروني    *' %}
          <br>
          {% trans 'كمان في جروب على التليجرام لكل كورس علشان التواصل يكون أسهل   *' %}
        </p>
      </div>
      <div class="col-12 col-md-6 pt-5 text-center ">
        <img src="{% static 'mat/Group 16.svg' %}" alt="" style="transition: 2.4s;" class="img-fluid reveal-from-left">
      </div>
    </div>

</section>

<!-- END ELEVENTH SECTION -->

<!-- START TWELFTH SECTION -->

<style>
.twelfth__section{
  font-family: 'PlayPenSans';
}
</style>


<section class="container twelfth__section mb-5 pb-5">
  <div class="row justify-content-center text-center gap-5 mb-5"> 

    <h1 class="col-12 fs-1   ">
      <span class="reveal-from-left d-block" style="transition: 1s">
        {% trans 'مستقبلك الأزهري يبدأ من هنا' %}
      </span>
      <br>  
      <span class="reveal-from-left d-block" 
      style="transition: 3s;">
        {% trans 'سجّل الآن وابدأ رحلة التفوق' %}
      </span>
    </h1>
    
    <a 
    
    href="{% url 'website:signup' %}"
    class="btn btn-primary  wide__btn reveal-from-right" style="transition: 3s;" > ابدأ الآن مجاناً  </a>

  </div>
</section>

<!-- END TWELFTH SECTION -->


{% endblock %}


{% block extra_footer %}





<script src="{% static 'js/swiper.js' %}"></script>
{% endblock%}