{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block base_title %}Login{% endblock %}

{% block content %}

<style>
.asd{
  font-family: 'PlayPenSans';
  
}

.asd .flying{
  z-index: 2;
}

.asd .flying .first__gray{
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(70%)  translateY(-16%);
}

.asd .flying .sec_color{
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-70%) translateY(30%);
}

</style>



<div class="asd 
position-relative
container  my-5 py-5
rounded-3
"  style="background: white;border: 2px dashed black; box-shadow:7px -6px 1px 3px rgba(0, 0, 0, 0.589);">


    <div class="row ">
        <div class="col-xl-10 col-12 
        p-5 
        
        
        ">


      <form
      
      {% if LANGUAGE_CODE  == 'ar' %}
      dir="rtl"
      {% else %}
      dir="ltr"
      {% endif %}
      
      method="post" action="">



            {% csrf_token %}
        <div data-mdb-input-init class="form-outline  mb-4">

            <label 
            for="id_old_password"
            class="form-label"
            >
            
            {{ form.old_password.label }}
        </label>
        
        <input 
        
        type="password"
        class="form-control"
        name="old_password"
        autocomplete="current-password"
        autofocus="" 
        required
        
        
        id="id_old_password"
        >
        {% if form.old_password.errors %}
            <div class="text-danger">{{ form.old_password.errors }}</div>
        {% endif %}
    </div>
    <div data-mdb-input-init class="form-outline  mb-4">


        {{ form.new_password1.label }}

        <input type="password" 
        name="new_password1" 
        autocomplete="new-password" 
        class="form-control"
        required
        aria-describedby="id_new_password1_helptext" 
        id="id_new_password1"
        >
        {% if form.new_password1.errors %}
            <div class="text-danger">{{ form.new_password1.errors }}</div>
        {% endif %}

        {{ form.new_password1.help_text }}

    </div>

    <div  data-mdb-input-init class="form-outline  mb-4">
        {{form.new_password2.label}}


        <input
            class="form-control"
            type="password"
            name="new_password2"
            autocomplete="new-password" required="" aria-describedby="id_new_password2_helptext" id="id_new_password2">

        {% if form.new_password2.errors %}
            <div class="text-danger">
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
        </div>


        <div class="d-flex flex-column align-items-center  justify-content-center">
          <input  
            type="submit"
            value="{% trans 'submit' %}"
            data-mdb-button-init data-mdb-ripple-init 
            class="btn   wide__btn btn-primary btn-block mb-4"

/>
        </div>
    </div>


        <div class="col-xl-2 col-12  p-3 d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'mat/Group.svg' %}" 
            style="
            
            width: 26px;
            height: 26px;
            "
            alt="" class="
            
            img-fluid">

            <h3>
                {{user.username}}
            </h3>
            <div>
           <a 
                href="{% url 'website:profileview' %}"
                class="btn btn-primary wide__btn " style="width: 100%;">
                  <i class="bi bi-gear mx-1"></i>
                    {% trans 'account settings' %}
                </a>


              <a href="{% url 'website:subscriped_courses'%}" class="btn wide__btn mt-3" style="
                
                font-weight: bold;
                width: 100%;">
                  <i class="bi bi-journal-text mx-1"></i>
                    {% trans 'subscribed courses' %}
              </a>


            </div>
        </div>
    </div>

    <div class="flying">
      <img src="{% static 'mat/login_gray.svg' %}" alt="" class="first__gray">
      <img src="{% static 'mat/login.svg' %}"      alt="" class="sec_color">
    </div>
    

</div>
  
<div class="py-3"></div>
  {% endblock %}