<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block base_title %}Welcome{% endblock %}| {% block main_brand %} {{ website }} {% endblock %}</title>


    {% include 'components/base_header.html' %}
    {% block extra_header %}    
    {% endblock %}
</head>
<body>
    
    {% include 'components/navbar.html' %}

    {% include 'components/alert.html' %}

    {% block content %}
 
    {% endblock %}


    {% include 'components/footer.html' %}

    {% include 'components/base_footer.html' %}

    {% block extra_footer %}    
    {% endblock %}
</body>
</html>