{% load static %}
{% load i18n %}

<footer 

dir="ltr"
class="text-center  text-lg-start bg-body-tertiary text-muted" style="background-color: rgba(0, 0, 0, 0.05);">
<style>
footer{
font-family: 'PlayPenSans';
background: #F0F0F0;
}
footer img{
  transition: all 0.4s ease-in-out;

}
footer .container .row div{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer img:hover{
  transform: scale(1.2);
}
</style>

  <section class="">
    <div class="container-fluid text-center text-md-start  py-5">
   
      <div class="row  ">

  
              <div class="col-12  my-4 d-flex flex-column justify-content-center align-items-center col-lg-4 py-5 reveal-from-left">
                <div class="d-flex">

                  <a href="#" class="me-4  ">        <img src="{% static 'mat/instagram.svg' %}" alt="instgram"/></a>
                  <a href="#" class="me-4  ">        <img src="{% static 'mat/facebook.svg' %}"  alt="Facebook" /></a>
                  <a href="#" class="me-4  ">        <img src="{% static 'mat/linkedin.svg' %}"  alt="linkedin" /></a>
                </div>
                  <br>
                  <div class="d-flex">

                    <a href="#" class="me-4  ">        <img src="{% static 'mat/youtube.svg' %}"   alt="youtube" /> </a>
                    <a href="#" class="me-4  ">        <img src="{% static 'mat/snapchat.svg' %}"  alt="snapchat" /></a>
                  </div>
              </div>


        <div class="col-12  my-4 d-flex gap-1  flex-column justify-content-center col-lg-4 py-5">
          <h6 class="text-uppercase fw-bold mb-4 fs-4 text-center">
            {% trans ':حمل تطبيق واحد ازهري على' %}
          </h6>
         <div  class="d-flex justify-content-center gap-3 reveal-from-right">

        <a href="#" >    <img src="{% static 'mat/googleplay.svg' %}" alt=""   class="" /> </a>
        <a href="#" >       <img src="{% static 'mat/apple.svg' %}" alt="" class="" /> </a>
         </div>
        </div>




        <!--  -->
        <div class="col-12  my-4 d-flex gap-4 justify-content-lg-end justify-content-center  align-items-center col-lg-4">
          <div class="d-flex flex-column gap-3 reveal-from-left">
            <a href="{% url 'website:tos' %}" class="fs-4 bold text-black ">
              {% trans 'سياسة الخصوصية' %}
            </a>
            <a href="{% url 'website:teachers' %}" class="fs-4 fw- bold text-uppercase text-black ">
              {% trans 'اشترك معنا' %}
            </a>
          </div>

          <div>
            <a href="{% url 'website:landing' %}">
              <img src="{{ logo }}" alt="logo" style="width:60px;height:57px;">
            </a>

          </div>
        </div>
      </div>

    </div>
  </section>


  <div class="text-center p-4 " style="background-color: rgba(220, 172, 172, 0) !important;">
    <hr>
    {{      copyright}}
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">
      {{domain}}
      
    </a>
  </div>

</footer>
